# Exercicis - Pandas  <img align="right"  width="185" height="75"  src="../Notebooks/imgs/pandas-logo.png" alt="pandas_logo"/>

Exercicis relacionats en lla llibreria [Pandas](https://pandas.pydata.org/) per el tractament de dades

## Exercici 1
Crea un DataFrame anomenat `fruites` seguint la següent estructura

|   | Pomes | Peres |
|---|-------|-------|
| 0 | 21    | 22    |

In [1]:
import pandas as pd
import numpy as np

In [2]:
fruites = pd.DataFrame({'Pomes': [i for i in range(21, 25)],
                    'Peres': [i for i in range(22, 26)]
                    });
fruites

   Pomes  Peres
0     21     22
1     22     23
2     23     24
3     24     25

## Exercici 2
Crea un DataFrame anomenat `vendes_fruites` seguin la següent estructura

|      | Pomes | Peres |
|------|-------|-------|
| 2017 | 21    | 22    |
| 2018 | 42    | 15    |

In [3]:
number_of_rows = 4

index = [i for i in range(2017, 2017 + number_of_rows)]

fruites = {
    'Pomes': np.random.randint(1, 100, number_of_rows),
    'Peres': np.random.randint(1, 100, number_of_rows)
}

vendes_fruites = pd.DataFrame(fruites, index)

vendes_fruites

      Pomes  Peres
2017     48     46
2018     33     88
2019     17     77
2020     42     35

## Exercici 3

Crea una dataframe `ingredients` mitjançant Series seguin la següent estructura

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

Crear data series:
```python
# 1
ingredients = pd.Series({
    'Flour': '4 cups',
    'Milk': '1 cup',
    'Eggs': '2 large',
    'Spam': '1 can'
}, name = 'Dinner')

# 2
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')
```

In [4]:
ingredients = pd.Series(['Flour', 'Milk', 'Eggs', 'Spam'], name = 'ingredients')
qty = pd.Series(['4', '1', '2', '1'], name = 'qty')
unit = pd.Series(['cups', 'cup', 'large', 'can'], name = 'unit')

dinner_dataframe = pd.concat((ingredients, qty, unit), axis = 1)

dinner_dataframe

  ingredients qty   unit
0       Flour   4   cups
1        Milk   1    cup
2        Eggs   2  large
3        Spam   1    can

# Exercici 4
Salva el DataFrame en un fitxer CSV

In [5]:
dinner_dataframe.to_csv('prova_export.csv', index = False)

# Exercici 5
Llegeix el següent conjunt de dades CSV de valoracions de vins dins d'un DataFrame anomenat `reviews`

Origen de dades: dataset/wine-reviews/winemag-data_first150k.csv

In [6]:
valoracions = pd.read_csv('../../Notebooks/Dades/winemag-data_first150k.csv')
valoracions.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

# Exercici 6

Selecciona la columna `description` de les valoracions i guard-ho a la variable `desc`

In [7]:
desc = valoracions.loc[:,"description"]
desc

0         This tremendous 100% varietal wine hails from ...
1         Ripe aromas of fig, blackberry and cassis are ...
2         Mac Watson honors the memory of a wine once ma...
3         This spent 20 months in 30% new French oak, an...
4         This is the top wine from La Bégude, named aft...
                                ...
150925    Many people feel Fiano represents southern Ita...
150926    Offers an intriguing nose with ginger, lime an...
150927    This classic example comes from a cru vineyard...
150928    A perfect salmon shade, with scents of peaches...
150929    More Pinot Grigios should taste like this. A r...
Name: description, Length: 150930, dtype: object

# Exercici 7
Seleciona el primer valor de la columna `description` de les valoracions. Assigna el resultat a la variable `primera_descripcio`

In [8]:
primera_descripcio = desc[0]
primera_descripcio

'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'

# Exercici 8
Selecciona la primera fila / primer registre de les valoracions, assigna-ho a la variable `primera_fila`

In [9]:
primera_fila = valoracions.iloc[0]
primera_fila

Unnamed: 0                                                     0
country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                      235.0
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

# Exercici 9
Selecciona els 10 primers valors de la columna `description` de les valoracions, assigna el resultat a la variable `primeres_descripcions`.

In [10]:
primeres_descripcions = valoracions.loc[:9,"description"]
primeres_descripcions

0    This tremendous 100% varietal wine hails from ...
1    Ripe aromas of fig, blackberry and cassis are ...
2    Mac Watson honors the memory of a wine once ma...
3    This spent 20 months in 30% new French oak, an...
4    This is the top wine from La Bégude, named aft...
5    Deep, dense and pure from the opening bell, th...
6    Slightly gritty black-fruit aromas include a s...
7    Lush cedary black-fruit aromas are luxe and of...
8    This re-named vineyard was formerly bottled as...
9    The producer sources from two blocks of the vi...
Name: description, dtype: object

# Exercici 10
Selecciona els registres dels següents índexs: 1, 2, 3, 5, i 8, assigna el resultats a la variable sample_reviews.

![](https://i.imgur.com/sHZvI1O.png)

In [11]:
sample_reviews = valoracions.iloc[[1,2,3,5,8], :]
sample_reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström

# Exercici 11
Crea una variable `df` que contingui les columnes `country, province, region_1, and region_2` dels registres amb índexs 0, 1, 10, and 100. Hauria de ser un resultat com aquest:

![](https://i.imgur.com/FUCGiKP.png)

In [12]:
df = valoracions.loc[[0,1,10,100], ['country', 'province', 'region_1', 'region_2']]
df

    country            province     region_1     region_2
0        US          California  Napa Valley         Napa
1     Spain      Northern Spain         Toro          NaN
10    Italy  Northeastern Italy       Collio          NaN
100      US          California  South Coast  South Coast

# Exercici 12
Crea una variable `df` que contingui les columnes `country` i `variety` dels primers 100 registres. 

Utilitza `loc` o `iloc`. Quan treballeu en la resposta a aquesta pregunta i a les diverses que segueixen, recpordeu que:

> Compte amb l'ús de `iloc`. En aquest cas, `df.iloc[0:1000]` retornarà 1000 entrades, mentre que `df.loc[0:1000]` en retornarà 1001! Per obtenir 1000 elements amb `loc`, haureu d'anar un més avall i demanar `df.loc[0:999]`.

In [13]:
df = valoracions.loc[0:99, ['country', 'variety']]
df = valoracions.iloc[0:99, [1,9]]
df

     country             variety
0         US  Cabernet Sauvignon
1      Spain       Tinta de Toro
2         US     Sauvignon Blanc
3         US          Pinot Noir
4     France  Provence red blend
..       ...                 ...
94  Portugal      Portuguese Red
95    France       Malbec-Merlot
96        US          Chardonnay
97        US  Cabernet Sauvignon
98    France       Merlot-Malbec

[99 rows x 2 columns]

# Exercici 13
Crea un DataFrame anomenat vins_italians que contingui les valoracions dels vins d'Itàlia

In [14]:
vins_italians = valoracions.loc[valoracions['region_1'] == 'Italy']
vins_italians.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
29814,29814,Italy,"Fresh, bright and aromatic, this easygoing Mos...",NaN,85,10.0,Italy Other,Italy,NaN,Moscato,Gionelli
32227,32227,Italy,"Described as medium-sweet on the label, this l...",NaN,83,10.0,Italy Other,Italy,NaN,White Blend,Canti
33052,33052,Italy,"Made from partially fermented grape must, this...",Rosso e Dolce,80,11.0,Italy Other,Italy,NaN,Brachetto,Stella Mia

# Exercici 14
Crea un DataFrame `top_oceania_wines` que contingui totes les valoracions de com a mínim amb un 95 de puntuació dels vins d'Australia (Australia) i Nova Zelanda (New Zeeland).

In [15]:
top_oceania_wines = valoracions.loc[(valoracions['points'] >= 95) & ((valoracions['region_1'] == 'New Zeeland') | (valoracions['region_1'] == 'Australia'))]
top_oceania_wines

Empty DataFrame
Columns: [Unnamed: 0, country, description, designation, points, price, province, region_1, region_2, variety, winery]
Index: []

# Exercici 15

---------------------

A partir d'aquest exercici utilitza el dataset `dataset/wine-reviews/winemag-data-130k-v2.csv`

---------------------

In [16]:
df = pd.read_csv('../../Notebooks/Dades/winemag-data-130k-v2.csv')
df.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

Crea una "Sèrie" a on líndex sigui el compte de twitter i els valors quantes ressenyes ha escrit.

In [17]:
serie = pd.Series(df['taster_twitter_handle'].value_counts(), name='Twitter')
serie

@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: Twitter, dtype: int64

# Exercici 16

Quin és el millor vi que puc comprar per una quantitat determinada de diners? 

Crea una sèrie a on l'índex sigui els preus del vi i els valors siguin el nombre màxim de punts que es va donar en un vi per aquest preu.

Ordena els valors per preu, de manera ascendent (de manera que 4,0 dòlars estiguin a la part superior i 3300,0 dòlars a la part inferior).

In [18]:
millor = df.loc[df['price'] == df.price.max()]
millor

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
80290,80290,France,This ripe wine shows plenty of blackberry frui...,NaN,88,3300.0,Bordeaux,Médoc,NaN,Roger Voss,@vossroger,Château les Ormes Sorbet 2013 Médoc,Bordeaux-style Red Blend,Château les Ormes Sorbet

In [19]:
serie_2 = df.groupby('price').points.max()

# serie_2 = df.groupby(['price', 'description']).points.max()

serie_2

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [20]:
serie_2.sort_index(ascending = True)

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

# Exercici 17

Quins són els preus mínims i màxims per a cada varietat de vi?

De cada varietat de vi volem saber el preu mínim i màxim .

In [21]:
preus_varietats = df.groupby('variety').price.agg([min, max])
preus_varietats

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

# Exercici 18

Quines són les varietats de vi més cares? 

Guarda en una variable `ordre_varietats` que contingui una còpia de les dades de la pregunta anterior on les varietats s'ordenen en ordre descendent en funció del preu mínim i després del preu màxim.

In [25]:
ordre_varietats = preus_varietats.sort_values(by='min', ascending=True)
ordre_varietats

                                min    max
variety
Merlot                          4.0  625.0
Syrah                           4.0  750.0
Tempranillo                     4.0  600.0
White Blend                     4.0  375.0
Malbec-Syrah                    4.0   78.0
...                             ...    ...
Roscetto                        NaN    NaN
Sauvignon Blanc-Sauvignon Gris  NaN    NaN
Tempranillo-Malbec              NaN    NaN
Vital                           NaN    NaN
Zelen                           NaN    NaN

[707 rows x 2 columns]

# Exercici 19

Mostra de cada `reviewer` utilitzant el camp `taster_name` la mitjana de puntuació que fa.

In [30]:
reviwers_avg = df.groupby(['taster_name'])['points'].mean()
reviwers_avg

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64


Hi ha diferències significatives entre puntuacions dels diferents `reviewers`. Utilitza el mètode `describe()` del conjunt resultat de l'exercici.

# Exercici 20

Quina combinació de països i varietats és més habitual? 
Crea una sèrie amb MultiIndex de parells {país, varietat} juntament amb la quantitat de reviews. 
Per exemple, un *pinot noir* produït als EUA hauria de correspondre a {"US", "Pinot Noir"}. 
Ordena el resultat en ordre descendent en funció del recompte de vins.

In [41]:
df.groupby(['country', 'variety']).size().sort_values(ascending = False)
df.value_counts(['country', 'variety'])

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

# Exercici 21

Quin és el tipus de dades del camp `points` del dataset? guarda el resultat a una variable anomenada dtype

In [42]:
dtype = df.points.dtype
dtype

dtype('int64')

# Exercici 22

Converteix la columna `points` a strings. El tipus de dades string en Python és `str`.

In [45]:
df.points = df.points.astype(str)
df.points.dtype

dtype('O')

# Exercici 23

Alguns valors de la columna `price`són nul·les. Quantes reviews dins del dataset no en sabem el preu?

In [47]:
df['price'].isna().sum()

8996

# Exercici 24

Quines són les regions productores de vi més habituals? 
Crea una Sèrie que contabilitzi el nombre de vegades que apareix cada valor del camp `region_1`. En aquest camp hi falten dades. Substitueix els valors que falten per "Desconegut" i ordena de forma descendent.

In [50]:
df.region_1 = df.region_1.fillna('Desconegut')
df.region_1.head(10)

0                   Etna
1             Desconegut
2      Willamette Valley
3    Lake Michigan Shore
4      Willamette Valley
5                Navarra
6               Vittoria
7                 Alsace
8             Desconegut
9                 Alsace
Name: region_1, dtype: object

In [51]:
more_appeared = df.region_1.value_counts()
more_appeared

Desconegut                 21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Lamezia                        1
Trentino Superiore             1
Grave del Friuli               1
Vin Santo di Carmignano        1
Paestum                        1
Name: region_1, Length: 1230, dtype: int64

# Exercici 25

`region_1` i `region_2` són noms força poc informatius per a les columnes regionals del conjunt de dades. Canvia el nom d'aquestes columnes per **regió** i **regional** respectivament.

In [53]:
df.rename(columns = {'region_1':'regió', 'region_2': 'regional'}, inplace = True)
df.head(1)

,Unnamed: 0,country,description,designation,points,price,province,regió,regional,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia