### Object oriented programming. Definition of classes.

#### simple example

In [1]:
import pandas as pd
from datetime import date, datetime, timedelta

In [2]:
cotxes = pd.read_csv('../../data/cars/venda-cotxes-segona-ma.csv', index_col =False)
cotxes.head(3)

,company,make,model,version,price,price_financed,fuel,year,kms,power,doors,shift,color,photos,is_professional,dealer,phone,province,publish_date,insert_date
0,9881BCDD5A0AD4733037B3FB25E69C3A,KIA,Carnival,KIA Carnival 2.9 CRDi VGT EX 5p.,4860,4860.0,Diésel,2007,221000,185.0,5.0,Manual,Beige (champagne),8,True,VM Motor,928493782,Las Palmas,2020-12-22 13:28:36,2020-12-25 00:00:00
1,9881BCDD5A0AD4733037B3FB25E69C3A,BMW,Serie 5,BMW Serie 5 4p.,1800,NaN,Diésel,2001,205000,NaN,4.0,Manual,Verde,0,False,3F128E570B3A9009D7B52A0523AF43DD,DBB2949B54A306BA299A791B860EEBF6,Tarragona,2020-12-14 07:02:22,2020-12-26 00:00:00
2,9881BCDD5A0AD4733037B3FB25E69C3A,FIAT,500,FIAT 500 1.2 8v 51kW 69CV Lounge 3p.,6490,6490.0,Gasolina,2017,75000,69.0,3.0,Manual,Negro,7,True,LAS PALMAS MOTOR,653895468,Las Palmas,2020-11-20 18:30:00,2020-12-08 00:00:00

### Class definition

In [3]:
class Car():
    
    def __init__(self, make, model, color, year, price):
        
        # class attributes
        
        self.make = make
        self.model = model
        self.color = color
        self.year = year
        self.price = price

##### class instantiation

In [4]:
mycar = Car('KIA', 'Carnival', 'Beige', 2007, 4860)
mycar

##### check attributes

In [5]:
mycar.make

'KIA'

In [6]:
mycar.price

4860

### Class methods

In [7]:
class Car():
    
    def __init__(self, make, model, color, year, price):
        
        # class attributes
        
        self.make = make
        self.model = model
        self.color = color
        self.year = year
        self.price = price
        
        self.nofee = True
        
    # class methods
    
    def years(self):
        return 'this car is %3d years old' %(datetime.now().year -self.year)
            
    def finance(self, months = 12, interest_rate = 5):
        if self.nofee:
            return 'This car is not financiable'
        else:
            return 'months: %3d, montly payment: %8.2f€' %(months, self.price *(1 + interest_rate /100) /months)

##### define instance of Car()

In [8]:
yourcar = Car('BMW', 'Serie 5', 'Verde', 2001, 1800)
yourcar

In [9]:
yourcar.years()

'this car is  22 years old'

##### check methods

In [10]:
yourcar.finance()

'This car is not financiable'

In [11]:
yourcar.nofee = False
yourcar.finance()

'months:  12, montly payment:   157.50€'

In [12]:
yourcar.finance(months = 18, interest_rate = 7.5)

'months:  18, montly payment:   107.50€'

### Class inheritance

In [13]:
class BestCar(Car):

    def spot_price(self, percentage = 2.5):
        return 'Price %8.2f€, Spot price (-%4.2f%%) %8.2f€' %(self.price, percentage, self.price *(1 - percentage /100))

In [14]:
hiscar = BestCar('BMW', 'Serie 5', 'Verde', 2001, 1800)
hiscar

##### BestCar() inherits all methods/attributes defined for its parent class Car()

In [15]:
hiscar.years()

'this car is  22 years old'

In [16]:
hiscar.finance()

'This car is not financiable'

##### check BestCar() specific new methods

In [17]:
hiscar.spot_price()

'Price  1800.00€, Spot price (-2.50%)  1755.00€'

### Special methods

In [18]:
class SuperCar(BestCar):
        
    # __repr__ method (instance representation)
    def __repr__(self):
        txt  = 'Company: %s \n' %self.make
        txt += '  model: %s \n' %self.model
        txt += '  color: %s \n' %self.color
        return txt
    
    # __str__ method (result of print(instance))
    def __str__(self):
        txt  = 'Company: %s \n' %self.make
        txt += '  model: %s \n' %self.model
        txt += '  color: %s \n' %self.color
        txt += '  price: %8.2f€ \n' % self.price
        return txt

- ***\_\_repr\_\_()***, defines how the class is shown

In [19]:
mysupercar = SuperCar('Fiat', '500', 'Negro', 2017, 6490)
mysupercar

Company: Fiat
  model: 500
  color: Negro

- ***\_\_str\_\_()***, defines how the clas is printed

In [20]:
print(mysupercar)

Company: Fiat
  model: 500
  color: Negro
  price:  6490.00€

##### SuperCar() inherits all methods/attributes defined for its parents classes BestCar() and Car()

In [21]:
mysupercar, mysupercar.spot_price(3.0), mysupercar.finance(months = 18, interest_rate = 6.5)

(Company: Fiat
   model: 500
   color: Negro ,
 'Price  6490.00€, Spot price (-3.00%)  6295.30€',
 'This car is not financiable')