In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split

In [2]:
df = sns.load_dataset("penguins")
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [3]:
###Encuentra las filas que tiene algun nan en todas las columnas menos la de sexo
###axis = 1 = filas
df.iloc[:,:-1].isna().any(axis=1)

0      False
1      False
2      False
3       True
4      False
       ...
339     True
340    False
341    False
342    False
343    False
Length: 344, dtype: bool

### Identificamos las filas que tienen los nans

In [4]:
df[df.iloc[:,:-1].isna().any(axis = 1)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [5]:
### Aquí obtenemos los indices
df[df.iloc[:,:-1].isna().any(axis = 1)].index

Int64Index([3, 339], dtype='int64')

### Borramos las filas

In [6]:
df.drop(df[df.iloc[:,:-1].isna().any(axis = 1)].index, axis = 0, inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            342 non-null    object
 1   island             342 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 21.4+ KB

###

In [22]:
numcols = df.dtypes != 'object'

df.loc[:, df.dtypes != 'object']

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0              39.1           18.7              181.0       3750.0
1              39.5           17.4              186.0       3800.0
2              40.3           18.0              195.0       3250.0
4              36.7           19.3              193.0       3450.0
5              39.3           20.6              190.0       3650.0
..              ...            ...                ...          ...
338            47.2           13.7              214.0       4925.0
340            46.8           14.3              215.0       4850.0
341            50.4           15.7              222.0       5750.0
342            45.2           14.8              212.0       5200.0
343            49.9           16.1              213.0       5400.0

[342 rows x 4 columns]

In [23]:
#build reference matrix
I = df.drop(df[df.sex.isna()].index, axis = 0).loc[:, df.dtypes != 'object'].to_numpy() # axis = 0 són files
I.shape, I[:3, :]
# primer localitzar els que tenen nan, fer un drpo d'aquests i ens quedem nomès amb les columnes numèriques.
# 333 registres bons (no null) amb les seves 4 columnes.

((333, 4),
 array([[  39.1,   18.7,  181. , 3750. ],
        [  39.5,   17.4,  186. , 3800. ],
        [  40.3,   18. ,  195. , 3250. ]]))

In [24]:
# get labels for reference dataset
labels = df['sex'].drop(df[df.sex.isna()].index, axis = 0)

In [ ]:
def inferSex(row):
    x = row.iloc[numcols[df.dtypes != 'object']]