### Python basics

#### top python features
- Easy To Learn and Readable Language.
- Interpreted Language.
- Dynamically Typed Language.
- High-Level Language.
- Object Oriented Programming Language.
- Open Source And Free.
- Large Community Support.
- Large Standard Library.

##### Variables

In [3]:
# integer
x = 2765
# float
y = 45.2345
# string
a = 'Monday'

In [2]:
# check values
a

'Monday'

##### Lists

In [3]:
l = [2, 6, 8, 1, x, y]

In [4]:
l

[2, 6, 8, 1, 2765, 45.2345]

In [5]:
# length of the list
len(l)

6

In [6]:
# get an element of a list: indexes start at zero
l[5]

45.2345

In [7]:
# add an element to a list
l = l + [1111]
l

[2, 6, 8, 1, 2765, 45.2345, 1111]

In [8]:
# pop an element of a list

In [9]:
l.pop()

1111

In [10]:
# concatenate two lists
l2 = [562, 87.345]
l + l2

[2, 6, 8, 1, 2765, 45.2345, 562, 87.345]

##### Tuples

In [11]:
t = (x, y)
t

(2765, 45.2345)

In [12]:
# length of a tuple
len(t)

2

In [13]:
# get an element of a tuple
t[0]

2765

In [14]:
# tuples are immutable: can't change/add/pop elements
t[1] = x

TypeError: 'tuple' object does not support item assignment

In [15]:
# but we can concatenate tuples
t + t

(2765, 45.2345, 2765, 45.2345)

##### strings

In [16]:
# length of a string: number of characters
len(a)

6

In [17]:
# get the character at a given position
a[3]

'd'

In [18]:
# concatenate strings
a + 'Tuesday'

'MondayTuesday'

#### iterate

In [19]:
# iterate over a list
for element in l: print(element)

2
6
8
1
2765
45.2345

In [20]:
# iterate over a tuple
for element in t: print(element)

2765
45.2345

In [21]:
# iterate over a string
for character in a: print(character)

M
o
n
d
a
y

#### range

In [22]:
range(len(l))

range(0, 6)

In [23]:
# iterate using position indexes
for i in range(len(l)):
    print(i, l[i])

0 2
1 6
2 8
3 1
4 2765
5 45.2345

#### comprehensive list

In [32]:
x = [i for i in range(len(l))]

In [33]:
x

[0, 1, 2, 3, 4, 5]

In [37]:
[if i % 2 == 0 else "hola" for i in range(len(l))]

SyntaxError: invalid syntax (3830331246.py, line 1)

#### list of lists

In [2]:
[['a', 'b', 'c'], [3, 7, 8]]

[['a', 'b', 'c'], [3, 7, 8]]