### Pandas basics 2

In [1]:
import pandas as pd

In [1]:
# Carreguem el dataset d'exemple dels cotxes
cotxes = pd.read_csv('../Notebooks/Dades/cars/venda-cotxes-segona-ma.csv', index_col=False)
cotxes.head(3)

NameError: name 'pd' is not defined

### Dtypes: tipus de dades

Si definim un tipus de dades nosaltres, serà un object

In [3]:
cotxes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company          5000 non-null   object
 1   make             5000 non-null   object
 2   model            4996 non-null   object
 3   version          5000 non-null   object
 4   price            5000 non-null   int64
 5   price_financed   2268 non-null   float64
 6   fuel             4992 non-null   object
 7   year             5000 non-null   int64
 8   kms              5000 non-null   int64
 9   power            4054 non-null   float64
 10  doors            4996 non-null   float64
 11  shift            4990 non-null   object
 12  color            4942 non-null   object
 13  photos           5000 non-null   int64
 14  is_professional  5000 non-null   bool
 15  dealer           5000 non-null   object
 16  phone            5000 non-null   object
 17  province         5000 non-null   object
 18  publish_date     5000 non-null   object
 19  insert_date      5000 non-null   object
dtypes: bool(1), float64(3), int64(4), object(12)
memory usage: 747.2+ KB

Mitjançant la propietat `dtype` i `dtypes` podem veure el tipus de dades d'una columna o de totes les columnes del DataFrame.
[Documentació oficial](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html)

In [4]:
cotxes.make.dtype

dtype('O')

In [5]:
cotxes.dtypes

company             object
make                object
model               object
version             object
price                int64
price_financed     float64
fuel                object
year                 int64
kms                  int64
power              float64
doors              float64
shift               object
color               object
photos               int64
is_professional       bool
dealer              object
phone               object
province            object
publish_date        object
insert_date         object
dtype: object

### `fillna()`

Substituir els valors NaN és una operació que utilitzem sovint. Pandas ofereix el mètode `fillna()` per solucionar aquest problema.

In [6]:
cotxes_fill = cotxes.model.fillna("Model desconegut")
cotxes_fill

0        Carnival
1         Serie 5
2             500
3           Astra
4         Clase C
          ...
4995        Corsa
4996        Auris
4997      Partner
4998    GLC Coupé
4999     Clase SL
Name: model, Length: 5000, dtype: object

In [7]:
cotxes[cotxes.model.isna()]

,company,make,model,version,price,price_financed,fuel,year,kms,power,doors,shift,color,photos,is_professional,dealer,phone,province,publish_date,insert_date
68,9881BCDD5A0AD4733037B3FB25E69C3A,VOLVO,NaN,VOLVO FL 240 EE5,29900,NaN,NaN,2013,434000,NaN,NaN,NaN,Capacidad carga útil:,10,True,Dial Truck Valencia,616930100,Valencia,2020-12-17 15:59:42,2020-12-25 00:00:00
1923,9881BCDD5A0AD4733037B3FB25E69C3A,MERCEDES-BENZ,NaN,MERCEDES-BENZ SPRINTER 314CDI CC 3T5 E6 FURG,20000,NaN,NaN,2017,105235,NaN,NaN,NaN,Capacidad carga útil:,7,True,Ventatruck,670808888,Madrid,2020-12-02 17:49:58,2020-12-04 00:00:00
3699,9881BCDD5A0AD4733037B3FB25E69C3A,ISUZU,NaN,ISUZU 3.5T M21 CAJA FIJA GRUA PALTFINGER,49900,NaN,NaN,2020,10,NaN,NaN,NaN,Capacidad carga útil:,17,True,Rofervigo Vehículos Industriales - ISUZU,689692254,Pontevedra,2020-12-19 11:14:13,2021-01-14 00:00:00
4236,9881BCDD5A0AD4733037B3FB25E69C3A,SEAT,NaN,SEAT Leon 5p.,3500,NaN,Diésel,2003,333000,NaN,5.0,Manual,Negro,5,False,1281D0AC7A74EB91550FF52A02862CDA,B4CEFD0C67E27273E45A99531764FBDF,León,2020-11-30 17:20:22,2020-12-14 00:00:00

### `replace()`

Pandas ofereix el mètode `replace()` per substituir un valor per un altre.

In [8]:
cotxes.fuel.replace("Gasolina", "Benzina")
cotxes.fuel.replace("Gasolina", "Benzina", inplace = True)
# Això va al dataframe i ho canvia, no mostra una vista

In [9]:
cotxes.fuel.value_counts()

Diésel                3099
Benzina               1661
Híbrido                128
Híbrido enchufable      48
Eléctrico               37
Gas natural (CNG)       10
Gas licuado (GLP)        9
Name: fuel, dtype: int64

El mètode `replace()` el podem utilitzar per substituir les dades que falten mitjançant algun sentinella "Desconegut", "No divulgat", "No vàlid", etc.

#### Map

La funció map ens serveix per aplicar un canvi/funció a un pd.Series() o una columna d'un DataFrame.

In [10]:
# podem fer un replace() però més potent passant un diccionari amb els valors a reemplaçar
cotxes.fuel.map({'Diésel': 1, 'Gasolina': 2})
# Canvia els valors d'una columna per els que volguem, tenim vàries opcions
# Tampoc ho hem fet inplace (aquí no funciona (hi han cops que no van))

0       1.0
1       1.0
2       NaN
3       1.0
4       1.0
       ...
4995    NaN
4996    NaN
4997    1.0
4998    1.0
4999    NaN
Name: fuel, Length: 5000, dtype: float64

### Automatizar-ho
1. Agafem els valors unics

In [11]:
[(key, val) for val, key in enumerate(cotxes.fuel.unique())]

[('Diésel', 0),
 ('Benzina', 1),
 (nan, 2),
 ('Híbrido enchufable', 3),
 ('Híbrido', 4),
 ('Gas licuado (GLP)', 5),
 ('Eléctrico', 6),
 ('Gas natural (CNG)', 7)]

El ``enumerate`` per la llista, quan iterem, el iterador torna el valor i el index. Com un bucle normal però retornat amb una tupla.

In [12]:
{key: val for val, key in enumerate(cotxes.fuel.unique())}

{'Diésel': 0,
 'Benzina': 1,
 nan: 2,
 'Híbrido enchufable': 3,
 'Híbrido': 4,
 'Gas licuado (GLP)': 5,
 'Eléctrico': 6,
 'Gas natural (CNG)': 7}

2. En comptes de posar el {}, posem la funcio

In [13]:
cotxes.fuel.map({key: val for val, key in enumerate(cotxes.fuel.unique())})

0       0
1       0
2       1
3       0
4       0
       ..
4995    1
4996    1
4997    0
4998    0
4999    1
Name: fuel, Length: 5000, dtype: int64

Exemple separat:
```python 
d = {key: val for val, key in enumerate(cotxes.fuel.unique())}
fuel_mapped = cotxes.fuel.map(d)
total_fuel = fuel_mapped.value_counts()
```

In [14]:
cotxes.fuel.map({key: val for val, key in enumerate(cotxes.fuel.unique())}).value_counts()

0    3099
1    1661
4     128
3      48
6      37
7      10
5       9
2       8
Name: fuel, dtype: int64

<hr />

In [15]:
# El de sota pas a pas: 
def doblar_preu(p):
    return p *2

cotxes.price.map(doblar_preu)

0        9720
1        3600
2       12980
3       11100
4       23980
        ...
4995    20400
4996    15300
4997    12400
4998    99800
4999    25900
Name: price, Length: 5000, dtype: int64

In [16]:
# podem aplicar una funció per doblar el preu dels cotxes
cotxes.price.map(lambda p: p *2)

0        9720
1        3600
2       12980
3       11100
4       23980
        ...
4995    20400
4996    15300
4997    12400
4998    99800
4999    25900
Name: price, Length: 5000, dtype: int64

In [17]:
# Lambda inplace, no tindrem output perquè estem modificant el dataframe
cotxes['price'] = cotxes.price.map(lambda x: x * 2)

### Si la funció fos més complicada faríem servir &darr;

Això el mètode ``apply`` que hi ha a sota

Si necessitem calcular el total d'una columna, fem servir map.

<hr />

In [18]:
# fixeu-vos que no s'ha modificat el dataframe (conserva els valors originals)
cotxes[['fuel', 'price']].head(3)

      fuel  price
0   Diésel   9720
1   Diésel   3600
2  Benzina  12980

#### Apply

Apply és equivalent a map(), però:
- no accepta diccionaris
- permet aplicar funcions més complexes i que admeten arguments
- és pot aplicar a tota la fila

Per una columna (canviar valor d'una columna, map (els dos casos que hem fet a dalt)

Apply, fem canvis a tota la fila.

La lambda no rep el valor que ve de la columna, sinó que és tota la fila que estem iterant. Després podem accedir a les files i modificar-ne el valor

In [19]:
'%s, %d' %("Hola", 9)

'Hola, 9'

In [20]:
x = 9
f'hola, {9}'

'hola, 9'

axis = 1 &rarr; per files

axis = 0 &rarr; per una columna

In [21]:
# axis = 1 indica que apply s'aplica a la fila en conjunt (podem utilitzar qualsevol camp de les columnes)
cotxes.apply(lambda fila: '%s, %s, %s' %(fila.model, fila.version, fila.fuel), axis =1)

0       Carnival, KIA Carnival 2.9 CRDi VGT EX 5p., Di...
1                       Serie 5, BMW Serie 5  4p., Diésel
2       500, FIAT 500 1.2 8v 51kW 69CV Lounge 3p., Ben...
3                          Astra, OPEL Astra  3p., Diésel
4       Clase C, MERCEDES-BENZ Clase C C 220 CDI AVANT...
                              ...
4995    Corsa, OPEL Corsa 1.4 66kW 90CV Selective 5p.,...
4996    Auris, TOYOTA Auris 1.2 120T Active Touring Sp...
4997                Partner, PEUGEOT Partner  5p., Diésel
4998    GLC Coupé, MERCEDES-BENZ GLC Coupe GLC 220 d 4...
4999    Clase SL, MERCEDES-BENZ Clase SL SL 500 2p., B...
Length: 5000, dtype: object

Fer-ho amb map:

In [22]:
map_dict = {key: val for val, key in enumerate(cotxes.fuel.unique())}

def apply_map(key):
   return map_dict[key] 

cotxes.fuel.apply(apply_map)

0       0
1       0
2       1
3       0
4       0
       ..
4995    1
4996    1
4997    0
4998    0
4999    1
Name: fuel, Length: 5000, dtype: int64

In [23]:
def llista(row):
    row.fillna('__')
    return '%s, %s, %s' %(row.make, row.version.strip(row.make), row.fuel)

cotxes.apply(llista, axis = 1)

0              KIA,  Carnival 2.9 CRDi VGT EX 5p., Diésel
1                              BMW,  Serie 5  4p., Diésel
2         FIAT,  500 1.2 8v 51kW 69CV Lounge 3p., Benzina
3                               OPEL,  Astra  3p., Diésel
4       MERCEDES-BENZ,  Clase C C 220 CDI AVANTGARDE 4...
                              ...
4995    OPEL,  Corsa 1.4 66kW 90CV Selective 5p., Benzina
4996    TOYOTA,  Auris 1.2 120T Active Touring Sports ...
4997                       PEUGEOT,  Partner  5p., Diésel
4998    MERCEDES-BENZ,  GLC Coupe GLC 220 d 4MATIC 5p....
4999         MERCEDES-BENZ,  Clase SL SL 500 2p., Benzina
Length: 5000, dtype: object

### to_frame()

In [24]:
cotxes.apply(llista, axis = 1).to_frame('llista').head(3)

                                            llista
0       KIA,  Carnival 2.9 CRDi VGT EX 5p., Diésel
1                       BMW,  Serie 5  4p., Diésel
2  FIAT,  500 1.2 8v 51kW 69CV Lounge 3p., Benzina

### to_list()

In [25]:
cotxes.apply(llista, axis = 1).to_list()[:10]

['KIA,  Carnival 2.9 CRDi VGT EX 5p., Diésel',
 'BMW,  Serie 5  4p., Diésel',
 'FIAT,  500 1.2 8v 51kW 69CV Lounge 3p., Benzina',
 'OPEL,  Astra  3p., Diésel',
 'MERCEDES-BENZ,  Clase C C 220 CDI AVANTGARDE 4p., Diésel',
 'OPEL,  Zafira  5p., Diésel',
 'PEUGEOT,  3008 1.2 PURETECH 130 HP ALLURE SS 5p., Benzina',
 'VOLKSWAGEN,  Polo  5p., Diésel',
 'OPEL,  Insignia ST 2.0 CDTI ecoFLEX SS 140 CV Selective 5p., Diésel',
 'FORD,  Focus  3p., Benzina']

#### Afegir columna

In [26]:
# Afegim una nova columna al final del DataFrame
cotxes['price_dte'] = cotxes.price * 0.20
cotxes[['make', 'version', 'price', 'price_dte']].head(3)

   make                               version  price  price_dte
0   KIA      KIA Carnival 2.9 CRDi VGT EX 5p.   9720     1944.0
1   BMW                      BMW Serie 5  4p.   3600      720.0
2  FIAT  FIAT 500 1.2 8v 51kW 69CV Lounge 3p.  12980     2596.0

In [27]:
#Afegim una nova columna en una ubicació espcífica.
cotxes.insert(5, 'price_50%dte', cotxes.price *0.50)
cotxes.iloc[:, [1, 2, 3, 4, 5, 6]].head(3)

,make,model,version,price,price_50%dte,price_financed
0,KIA,Carnival,KIA Carnival 2.9 CRDi VGT EX 5p.,9720,4860.0,4860.0
1,BMW,Serie 5,BMW Serie 5 4p.,3600,1800.0,NaN
2,FIAT,500,FIAT 500 1.2 8v 51kW 69CV Lounge 3p.,12980,6490.0,6490.0

#### Eliminar una columna

In [28]:
# En el apply, axis = 1, és per totes columnes (pasa'm per totes les columnes)
# Elimine'm de quin eix. 
# Si vols fer delete de una fila -> axis = 0

# Insert no fa implace específic i drop s
cotxes.drop('price_50%dte', axis = 1, inplace = True)

cotxes.iloc[:, [1, 2, 3, 4, 5, 6]].head(3)

,make,model,version,price,price_financed,fuel
0,KIA,Carnival,KIA Carnival 2.9 CRDi VGT EX 5p.,9720,4860.0,Diésel
1,BMW,Serie 5,BMW Serie 5 4p.,3600,NaN,Diésel
2,FIAT,500,FIAT 500 1.2 8v 51kW 69CV Lounge 3p.,12980,6490.0,Benzina

### Renombrar una columna

In [29]:
cotxes.rename(columns = {'price': 'preu'}).head(3)
cotxes.columns

Index(['company', 'make', 'model', 'version', 'price', 'price_financed',
       'fuel', 'year', 'kms', 'power', 'doors', 'shift', 'color', 'photos',
       'is_professional', 'dealer', 'phone', 'province', 'publish_date',
       'insert_date', 'price_dte'],
      dtype='object')

In [30]:
# canviar el nom in-place
cotxes.rename(columns = {'price': 'preu'}, inplace = True)
cotxes.head(3)

,company,make,model,version,preu,price_financed,fuel,year,kms,power,...,shift,color,photos,is_professional,dealer,phone,province,publish_date,insert_date,price_dte
0,9881BCDD5A0AD4733037B3FB25E69C3A,KIA,Carnival,KIA Carnival 2.9 CRDi VGT EX 5p.,9720,4860.0,Diésel,2007,221000,185.0,...,Manual,Beige (champagne),8,True,VM Motor,928493782,Las Palmas,2020-12-22 13:28:36,2020-12-25 00:00:00,1944.0
1,9881BCDD5A0AD4733037B3FB25E69C3A,BMW,Serie 5,BMW Serie 5 4p.,3600,NaN,Diésel,2001,205000,NaN,...,Manual,Verde,0,False,3F128E570B3A9009D7B52A0523AF43DD,DBB2949B54A306BA299A791B860EEBF6,Tarragona,2020-12-14 07:02:22,2020-12-26 00:00:00,720.0
2,9881BCDD5A0AD4733037B3FB25E69C3A,FIAT,500,FIAT 500 1.2 8v 51kW 69CV Lounge 3p.,12980,6490.0,Benzina,2017,75000,69.0,...,Manual,Negro,7,True,LAS PALMAS MOTOR,653895468,Las Palmas,2020-11-20 18:30:00,2020-12-08 00:00:00,2596.0

#### reindexar

In [31]:
cotxes.set_index('make').loc['OPEL'].head(3)

,company,model,version,preu,price_financed,fuel,year,kms,power,doors,shift,color,photos,is_professional,dealer,phone,province,publish_date,insert_date,price_dte
make,,,,,,,,,,,,,,,,,,,,
OPEL,9881BCDD5A0AD4733037B3FB25E69C3A,Astra,OPEL Astra 3p.,11100,NaN,Diésel,2009,137000,NaN,3.0,Manual,Rojo,0,False,22003DEA67E7C5BE6022A29E677668BC,67990DA67E557C1D0C1B6D1DB731938C,Barcelona,2020-11-21 16:37:13,2020-11-24 00:00:00,2220.0
OPEL,9881BCDD5A0AD4733037B3FB25E69C3A,Zafira,OPEL Zafira 5p.,2000,NaN,Diésel,2002,400000,NaN,5.0,Manual,Gris / Plata,0,False,BC2AB28E4CDA984CA76646874371E864,75793CB4F71AC1B3C89CF649FFC18C56,Lleida,2020-11-24 16:34:59,2021-01-13 00:00:00,400.0
OPEL,9881BCDD5A0AD4733037B3FB25E69C3A,Insignia,OPEL Insignia ST 2.0 CDTI ecoFLEX SS 140 CV Se...,16400,NaN,Diésel,2015,119000,140.0,5.0,Manual,Blanco,6,False,177DACB14B34103960EC27BA29BD686B,4658AA3778BC282BF1CD28EF70287566,Valladolid,2020-12-16 13:37:39,2020-12-26 00:00:00,3280.0

In [32]:
# seria el mateix que
cotxes[cotxes.make == 'OPEL'].head(3)

,company,make,model,version,preu,price_financed,fuel,year,kms,power,...,shift,color,photos,is_professional,dealer,phone,province,publish_date,insert_date,price_dte
3,9881BCDD5A0AD4733037B3FB25E69C3A,OPEL,Astra,OPEL Astra 3p.,11100,NaN,Diésel,2009,137000,NaN,...,Manual,Rojo,0,False,22003DEA67E7C5BE6022A29E677668BC,67990DA67E557C1D0C1B6D1DB731938C,Barcelona,2020-11-21 16:37:13,2020-11-24 00:00:00,2220.0
5,9881BCDD5A0AD4733037B3FB25E69C3A,OPEL,Zafira,OPEL Zafira 5p.,2000,NaN,Diésel,2002,400000,NaN,...,Manual,Gris / Plata,0,False,BC2AB28E4CDA984CA76646874371E864,75793CB4F71AC1B3C89CF649FFC18C56,Lleida,2020-11-24 16:34:59,2021-01-13 00:00:00,400.0
8,9881BCDD5A0AD4733037B3FB25E69C3A,OPEL,Insignia,OPEL Insignia ST 2.0 CDTI ecoFLEX SS 140 CV Se...,16400,NaN,Diésel,2015,119000,140.0,...,Manual,Blanco,6,False,177DACB14B34103960EC27BA29BD686B,4658AA3778BC282BF1CD28EF70287566,Valladolid,2020-12-16 13:37:39,2020-12-26 00:00:00,3280.0

## Exportació
-------------

(https://pandas.pydata.org/docs/reference/io.html)[https://pandas.pydata.org/docs/reference/io.html]

Per la exportació de DataFrames tenim diferents mètodes, però potser els més utilitzats són:
* `to_csv()`
* `to_excel()`
* `to_json()`
* `to_html()`

# Que no guardi els index (index = False) perquè ja es tornaran a generar quan els tornem a generar xD.
cotxes.to_csv('./cotxes_exp.csv', index = False)