### Python basics

#### top python features
- Easy To Learn and Readable Language.
- Interpreted Language.
- Dynamically Typed Language.
- High-Level Language.
- Object Oriented Programming Language.
- Open Source And Free.
- Large Community Support.
- Large Standard Library.

##### Variables

In [41]:
# integer
x = 2765
# float
y = 45.2345
# string
a = 'Monday'

In [2]:
# check values
a

'sql \n    sentence'

##### Lists

In [3]:
l = [2, 6, 8, 1, x, y]

In [4]:
l

[2, 6, 8, 1, 2765, 45.2345]

In [5]:
# length of the list
len(l)

6

In [13]:
# get an element of a list: indexes start at zero
l[2:5]

[8, 1, 2765]

In [22]:
# add an element to a list
l.append(1111)
l

[2, 6, 8, 1, 2765, 45.2345, 1111]

In [ ]:
# pop an element of a list

In [19]:
l.pop()

1111

In [20]:
l

[2, 6, 8, 1, 2765, 45.2345]

In [21]:
# concatenate two lists
l2 = [562, 87.345]
l + l2

[2, 6, 8, 1, 2765, 45.2345, 562, 87.345]

##### Tuples

In [23]:
t = (x, y)
t

(2765, 45.2345)

In [24]:
# length of a tuple
len(t)

2

In [25]:
# get an element of a tuple
t[0]

2765

In [26]:
# tuples are immutable: can't change/add/pop elements
t[1] = x

TypeError: 'tuple' object does not support item assignment

In [29]:
# but we can concatenate tuples
t = t + t
t

(2765, 45.2345, 2765, 45.2345, 2765, 45.2345, 2765, 45.2345)

##### strings

In [30]:
# length of a string: number of characters
len(a)

17

In [ ]:
# get the character at a given position
a[3]

In [31]:
# concatenate strings
a + 'Tuesday'

'sql \n    sentenceTuesday'

#### iterate

In [36]:
# iterate over a list
for element in l:
    x = 3
    print(element)
(element, x)

2
6
8
1
2765
45.2345
1111

(1111, 3)

In [37]:
(element, x)

(1111, 3)

In [38]:
# iterate over a tuple
for element in t: print(element)

2765
45.2345
2765
45.2345
2765
45.2345
2765
45.2345

In [43]:
# iterate over a string
for character in a: print(character)

M
o
n
d
a
y

In [44]:
print(a)

Monday

##### Range

In [45]:
range(len(l))

range(0, 7)

In [46]:
for e in l: print(e)

2
6
8
1
2765
45.2345
1111

In [47]:
# iterate using position indexes
for i in range(len(l)):
    print(i, l[i])

0 2
1 6
2 8
3 1
4 2765
5 45.2345
6 1111

#### comprehensive list

In [48]:
[i for i in range(len(l))]

[0, 1, 2, 3, 4, 5, 6]

#### list of lists

In [50]:
l3 = [['a', 'b', 'c'], [3, 7, 8]]

In [53]:
len(l3), len(l3[0]), len(l3[1])

(2, 3, 3)

In [55]:
l3[1][1]

7